header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .8);
    position: relative;

    .logo{
        font-size: 25px;
        font-weight: 600;
        color: #8a4baf;

        @media (max-weidth:768px) {
            font: size 18px;
        }
    }

    .link{
        display: flex;
        gap: 2rem;

         @media (max-weidth:768px) {
            gap: .5rem;
        }

        a{
            text-decoration: none;
            color: #333;
            transition: .3s;

            &:hover{
                color: #8a4baf;
                
            }
        }

    }

}